<div class="container">
    <h1>Eat Da Burger!</h1>
    <div class="row">
        <div class="col-md-6">
            {{#each burgers}} {{#unless this.devoured}}
            <form action="/api/burgers/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devoured" value="true">
                <div>
                <span>{{this.burger_name}}</span>
                <button type="submit">Devour</button>
                </div>
            </form>
            {{/unless}} {{/each}}
        </div>
        <div class="col-md-6">
            {{#each burgers}} {{#if this.devoured}}
            <form action="/api/burgers/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devoured" value="true">
                <p>{{this.burger_name}}</p>
            </form>
            {{/if}} {{/each}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Add a burger</h2>
            <form class="create-update-form" action="/api/burgers" method="POST">
                <div>
                    <textarea class="form-control input-lg" type="text" name="burger_name"></textarea>
                </div>
                <button type="submit">Add Burger</button>
            </form>
        </div>
    </div>
</div>